@import "../../global.scss";
.competences {
    background-color: #60a3bc;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-y: hidden;

    .arrow {
        height: 50px;
        position: absolute;
        cursor: pointer;
        filter: drop-shadow(2px 4px 6px black);

        @include mobile {
            display: none;
        }

        @include tablet {
            display: none;
        }

        &.left {
            left: 100px;
            transform: rotate(180deg);
        }

        &.right {
            right: 100px;
        }
    }

    .slider {
        height: 350px;
        display: flex;
        position: absolute;
        left: 0;
        transition: all 1s ease;

        @include mobile {
            height: 88vh;
            flex-direction: column;
            justify-content: center;
        }

        @include tablet {
            height: 100vh;
            flex-direction: column;
            justify-content: center;
        }
        .container {
            width: 100vw;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow-y: hidden;

            @include mobile {
                overflow: hidden;
            }

            .item {
                width: 700px;
                height: 100%;
                background-color: white;
                border-radius: 20px;
                display: flex;
                align-items: center;
                justify-content: center;

                @include mobile {
                    width: 80%;
                    height: 89%;
                    display: flex;
                    flex-direction: column-reverse;
                    margin-bottom: 29px;
                }

                @include tablet {
                    width: 80%;
                    height: 150px;
                    margin: 15px 0;
                }

                .left {
                    flex: 4;
                    height: 80%;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .leftContainer {
                        width: 90%;
                        height: 90%;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        @include mobile {
                            width: 65%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                        }

                        .imgContainer {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            background-color: $mainColor;
                            display: flex;
                            justify-content: center;

                            @include mobile {
                                display: none;
                            }

                            @include tablet {
                                width: 20px;
                                height: 20px;
                            }

                            img {
                                width: 30px;
                                border-radius: 50%;

                                @include tablet {
                                    width: 15px;
                                }
                            }
                        }

                        h2 {
                            font-size: 33px;

                            @include mobile {
                                font-size: 12px;
                            }
                            @include tablet {
                                font-size: 13px;
                            }
                        }
                        p {
                            font-size: 20px;
                            font-weight: 700;
                            word-spacing: 3.4px;

                            @include mobile {
                                font-size: 10px;
                            }
                            @include tablet {
                                font-size: 10px;
                            }
                        }
                        span {
                            font-size: 12px;
                            font-weight: 600;
                        }
                    }
                }
                .right {
                    flex: 8;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    overflow: hidden;

                    @include mobile {
                        flex: 3 1;
                    }
                    img {
                        width: 400px;
                        transform: rotate(-10deg);
                        font-weight: bold;

                        @include mobile {
                            width: 62%;
                        }
                    }
                }
            }
        }
    }
}

#animation {
    animation-name: vibrate-fast;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    /* shorthand 
    animation: vibrate-fast 1s ease 0s infinite normal none;
    */
}
@keyframes vibrate-fast {
    0% {
        transform: translate(0);
    }
    10% {
        transform: translate(-2px, -2px);
    }
    20% {
        transform: translate(2px, -2px);
    }
    30% {
        transform: translate(-2px, 2px);
    }
    40% {
        transform: translate(2px, 2px);
    }
    50% {
        transform: translate(-2px, -2px);
    }
    60% {
        transform: translate(2px, -2px);
    }
    70% {
        transform: translate(-2px, 2px);
    }
    80% {
        transform: translate(-2px, -2px);
    }
    90% {
        transform: translate(2px, -2px);
    }
    100% {
        transform: translate(0);
    }
}
