@import "../../global.scss";

.topbar {
    width: 100%;
    height: 70px;
    background-color: white;
    color: $mainColor;
    position: fixed;
    top: 0;
    z-index: 3;
    transition: all 1s ease;

    .wrapper {
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include mobile {
            padding: 0px;
        }

        .left {
            display: flex;
            align-items: center;
            @include mobile {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
            }
            .logo {
                font-size: 45px;
                font-weight: 700;
                text-decoration: none;
                color: inherit;

                @include mobile {
                    display: none;
                }
            }

            .itemContainer {
                display: flex;
                align-items: center;
                margin-left: 30px;

                @include mobile {
                    margin-left: 2px;
                    margin-top: 8px;
                }

                @include tablet {
                    display: none;
                    margin-left: 2px;
                }

                .icon {
                    font-size: 18px;
                    margin-right: 5px;
                }

                span {
                    font-size: 20px;
                    font-weight: 700;

                    @include mobile {
                        font-size: 17px;
                    }
                }
            }
        }

        .right {
            .hamburger {
                width: 32px;
                height: 25px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                cursor: pointer;

                @include mobile {
                    width: 23px;
                    height: 19px;
                    margin-right: 14px;
                }

                span {
                    width: 100%;
                    height: 3px;
                    background-color: $mainColor;
                    transform-origin: left;
                    transition: all 2s ease; // tous les transitions (opacity et trasnform rotate seron efectues dans 2 seconds)
                }
            }
        }
    }

    &.active {
        background-color: $mainColor;
        color: white;

        .hamburger {
            span {
                &:first-child {
                    // premier enfant, className line1
                    background-color: white;
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    //selecteur especifique
                    opacity: 0; // quand notre tobar soit active en verra plus cette ligne
                }
                &:last-child {
                    // dernier enfant, ClassName line3
                    background-color: white;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}
