@import "../../global.scss";

li {
    font-size: 20px;
    margin-right: 50px;
    padding: 7px;
    border-radius: 10px;
    cursor: pointer;

    @include mobile {
        font-size: 15px;
        margin-right: 19px;
        padding: 3px;
    }

    @include tablet {
        margin-right: 20px;
    }

    &.active {
        background-color: $mainColor;
        color: white;
    }
}
